/* =======================
Resetting default styles
======================= */
* {
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
}

body, h1, h2, h3, h4, h5, a, p {
text-decoration: none;
}

body {
width: 1024px;
}

a {
color: black;
}



/* =======================
Navbar
======================= */
nav {
background-color: #998ce7;
display: flex;
align-items: center;
padding: 0px;
overflow: hidden;
transition: background-color 0.5s ease;
list-style: none;

}

nav:hover {
background-color: #a77ff3; 
}

nav a {
color: #ffffff;
text-decoration: none;
font-size: 1em;
padding: 0px 2em;
display: inline-flex;
font-weight: 700;
transition: color 0.5s ease, padding 0.3s ease;
}

nav a:hover {
color: red;
padding: 8px 15px; 
}

ul li a:hover {
color: red;
padding: 8px 25px; 
}

/* =======================
Banner
======================= */
video{
max-width: 100%;
height: auto;
border-radius: 8px; 
margin-top: 1px;
}




/* =======================
Photo grid
======================= */
/* Styling for the grid items */
.grid {
display: block;
text-align: center;
text-decoration: none;
color: #333;
}

/* Styling for the images inside the grid items */
.grid-img {
width: 100%; /* Make the image fill the container */
height: 15rem; /* Set a fixed height for the images */
object-fit: cover; /* Maintain aspect ratio and cover the container */
border-radius: 8px; /* Add some border radius for rounded corners */
margin-bottom: 1rem;
}

/* Styling for the headings and paragraphs inside the grid items */
.grid h5 {
margin: 0.25rem 0;
font-size: 1.15rem;
line-height: 1;
}

.grid p {
margin: 0.5rem 0;
font-size: 0.85rem;
line-height: 1;
}

article{
text-align: center;
margin-top: 2em;
}

/* Creating a 1x3 grid layout */
.photo-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem; /* Add some gap between grid items */
}

/* Darken the image on hover */
.grid-img:hover {
filter: brightness(0.7); /* Adjust the brightness to darken the image */
}




/* =======================
Map
======================= */
.fancy-border {
display: flex;
justify-content: space-around;
margin-top: 40px;
margin-bottom: 35px;
}

.left,
.right {
width: 45%;
height: 300px;
border-radius: 8px;
}

/* =======================
Footer
======================= */
footer {
display: flex;
justify-content: space-between;
background-color: #000000cf;
color: #ffffff;
padding: 30px;
}

.column {
flex: 1 1 0;
display: flex;
flex-direction: column;
align-items: center;
}

h2 {
text-align: center;
font-size: 1.2em;
margin-bottom: 10px;
}

.email {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 5px;
}

input {
margin-bottom: 10px;
padding: 5px;
}

.logo {
width: 5em;
height: auto;
}

.logo:hover{
transform: scale(1.2);
transition: 1s;
}

.info {
text-align: center;
text-decoration: none;
color: #ffffff;
}

.column ul {
display: flex;
flex-direction: column;
align-items: flex-start;
list-style: none;
margin: auto;
}

.column li {
margin-bottom: 8px;
}

textarea{
width: 180px;
}

button {
background-color: #fff;
color: #333;
padding: 5px 10px;
cursor: pointer;
border-radius: 25px;
margin-left: 11em;
}

button:hover{
transform: scale(1.1);
transition: 1s;
font-size: 1em;
}

.cr{
width: 500px;
position: absolute;
margin-top: 17em;
margin-left: 13em
}

.facebooklogo{
margin-top: 1em;
position: static;
}

.form-row{
margin-left: 5em;
}

ul li a {
color: #ffffff;
text-decoration: none;
font-size: 1em;
padding: 5px 20px;
display: inline-flex;
font-weight: 700;
transition: color 0.5s ease, padding 0.3s ease;
}






